*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    border-radius: 5px;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}

.box .image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.box .image img{
    width: 100%;
}

.box .text{
    background-color: #70858B;
    color: #C7824C;
    border-radius: 0 0 5px 5px;
    padding: 20px 10px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

.box:hover .image{
    top: -170px;
}

.box:hover .text{
    top: calc(100% - 170px)
}