*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent{
    width: 600px;
    height: 500px;
    margin: 50px auto;
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.container .box{
    position: relative;
    width: 400px;
    height: 100px;
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 10px 10px 15px rgba(0,0,0, 0.1);
    /* border: 1px solid red; */
    transition: 0.5s ease-in-out;
}

.container .box:nth-child(1){transform: translateX(-70px);}
.container .box:nth-child(3){transform: translateX(70px);}

.container:hover .box:nth-child(1),
.container:hover .box:nth-child(3){
    transform: translateX(7px);
}

.box::before{
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    background-color: var(--clr);
    transition: 0.5s ease-in-out;
}

.box:hover::before{
    width: 100%;
}

.box .content{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.content .icon{
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon ion-icon{
    /* font-size: 2.5em; */
    font-size: 50px;
    color: var(--clr);
    transition: 0.5s ease-in-out;
}

.box:hover .content .icon ion-icon{
    color: #FFF;
}

.box .content .text h3{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--clr);
    transition: 0.5s ease-in-out;
}

.box:hover .content .text h3{
    color: #FFF;
}

.box .content .text p{
    color: #999;
    transition: 0.5s ease-in-out;
}

.box:hover .content .text p{
    color: #FFF;
}