*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container{
    height: 70%;
    background-color: yellow;
    padding: 30px 50px;
    transform: skewY(-15deg) translateY(-75px);
}

.container .text{
    transform: skewY(15deg);
    margin-top: 100px;
}

.container .text h2{
    margin: 20px 0;
}

.container .text p{
    line-height: 1.6;
}

.parent .box{
    height: 60%;
    background-color: black;
    padding: 20px 50px;
    transform: skewY(-15deg) translateY(-75px);
}

.box .text{
    transform: skewY(15deg);
    color: white;
    text-align: right;
}

.box .text h2{
    margin: 20px 0;
}

.box .text p{
    line-height: 1.6;
}